body{
  background-color: #5c2018;
}

h1 {
  color: #d4a59a;
  font-family: helvetica;
  font-size: 38px;
}

h2{
  color: #f3e0dc;
  font-family: helvetica;
  font-size: 24px;
}
p {
  font-family: helvetica;
  font-size: 14px;
  margin: 0 auto;
  color: #f3e0dc;
}

.media {

}
