body{
  background-color: #000000;
  background: -webkit-linear-gradient(#000000, #062f4f);
  background:    -moz-linear-gradient(#000000, #062f4f);
  background:         linear-gradient(#000000, #062f4f);
}

h1 {
  color: #813772;
  font-family: helvetica;
  font-size: 38px;
  text-align: center;
  border-left: 7px solid #b82601;
  border-right: 7px solid #b82601;
  background-color: darkgrey;
}

h2{
  color: lightgrey;
  font-family: helvetica;
  font-size: 24px;
}
p {
  font-family: helvetica;
  font-size: 14px;
  margin: 0 auto;
  color: lightgrey;
}

a {
  color: white;
}

.profile{
  min-width: 20px;
  max-width: 100px;
  max-height: 100px;
  min-height: 20px;
}

.bottom {

}
