body{
  background-color: #f2d388;
  margin-top: 0;
  padding: 0 30px 30px 30px;
}

h1 {
  color: white;
  font-family: helvetica;
  font-size: 38px;
  text-align: center;
  border-left: 7px solid #874c62;
  border-right: 7px solid #874c62;
  background-color: #c98474;
  padding: 20px;
  margin-top: 0;
}

h2{
  color: #874c62;
  font-family: helvetica;
  font-size: 24px;
}

.bottom {
  font-family: helvetica;
  color: white;
  background-color: #874c62;
  border-left: 7px solid #c98474;
  border-right: 7px solid #c98474;
}

h6{
  color: #874c62;
  text-align: center;
  font-family: helvetica;
}

div{
  align-items: center;
}

p {
  font-family: helvetica;
  font-size: 17px;
  text-align: center;
  color: black;
  max-width: 400px;
  min-width: 150px;
}

a {
  color: #874c62;
}

.bottom {
  background-color: #a7d2cb;
}

#important {
  text-transform: uppercase;
}

.article_image{
  grid-area: image;
  justify-self: center;
}

.article_text{
  grid-area: meta_text;
  align-self: start;
}

article {
  display: grid;
  grid: "image meta_text" auto / 300px auto;
  margin-bottom: 20px;
  background-color: linen;
  padding: 25px;
  border-top: 7px solid #874c62;
  border-bottom: 7px solid #874c62;
  grid-column-gap: 30px;
}

.side{
  max-width: 275px;
  max-height: 275px;

}


/*background: -webkit-linear-gradient(#000000, #062f4f);
background:    -moz-linear-gradient(#000000, #062f4f);
background:         linear-gradient(#000000, #062f4f);*/
